body {
  background-image: url(http://www.clipartbest.com/cliparts/4T9/oj4/4T9oj4Rqc.jpg);
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 240px
  

}

#clock {
  font-size: 100px;
  color: black;
  border-color: black;
  width: 80%px;
  height: 100px:px;
  /*margin: 5% auto;
  padding-left: 100px;*/
  font-family: 'Abril Fatface', cursive;
}

#date, #time {
  font-size: 40px;

}
